<header class="c-header">
    <div class="c-header__test">
        <div class="c-header__container">
            <div class="c-header__logo">
                <a href="#">
                    <img src="./assets/img/logo-mark.png" alt="">
                    <span class="c-header__logotitle">IST</span>
                </a>
                <span class="c-header__logotext">総合建設<br class="sp-only">コンサルタント</span>
            </div>
            <nav class="c-header__menu">
                <ul class="c-header__menuist">
                    <li><a class="c-header__link" href="#">会社案</a></li>
                    <li class="c-header__menu2 is-menu1">
                        <a class="c-header__link" href="#">事業紹介</a>
                        <ul class="c-header__menurecruit is-hover1">
                            <li><a href="#">防災・減災業務</a></li>
                            <li><a href="#">ICT・BIM/CIM</a></li>
                            <li><a href="#">測量・設計業務</a></li>
                            <li><a href="#">調査業務</a></li>
                        </ul>
                    </li>
                    <li><a class="c-header__link" href="#">事業紹介</a></li>
                    <li><a class="c-header__link" href="#">技術資料</a></li>
                    <li class="c-header__menu2 is-menu2">
                        <a class="c-header__link u-green" href="#">採用情報</a>
                        <ul class="c-header__menurecruit is-hover2">
                            <li><a href="#">私たちの仕事</a></li>
                            <li><a href="#">先輩社員の声</a></li>
                            <li><a href="#">募集要項</a></li>
                        </ul>
                    </li>
                    <li><a class="c-header__link u-blue" href="./contact.html">お問い合わせ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>